<div class="WelcomeTag">
        Welcome to Faith United Church of Christ
    </div>

    <section id="Who">
        <div class="container">
            <div class="jumbotron">
                <h3>Who Are We</h3>
                <hr>
                <p>
                    Faith UCC is a radically welcoming, Open and Affirming and Peace with Justice spiritual community that follows the jesus Way of love, justice and compassion in the world.
                    Open and Affirming means we are a safe and radically welcoming place for all people to worship regardless of sexual orientation, race, creed, gender identity, cultural background,
                    or socio-economic status. Peace with justice means we seek to resolve conflicts without violence and with a commitment to fairness.
                </p>
                <p>
                    Many today are hungering for an authentic spirituality that is intellectually honest and at home in a scientific era. That is what Faith United Church of Christ is all about.
                    We are Christians that invite all people to participate in our community and worship life without insisiting that they first become like is order to be accepted. We revel in 
                    diversity and find it beautiful and God-given!
                </p>
                <p>
                    We endeavor to spread the message of God's extravagant welcome, reaching out especially to those who have felt there is no room for them within an emerging Christianity
                    and the 'Post Modern' church - the excluded and alienated, the spiritually homeless, the questioning. No matter where you are on your faith journey, you are welcome here. 
                    All are welcome here!
                </p>
            </div>
            <div class="jumbotron">
                <h3>What Do We "Believe"</h3>
                <hr>
                <p>
                    We are a diverse church with some who follow a very traditional faith understanding while others among us who with to be on the edge of today's theological issues.
                    We welcome everyone to express themsselves acccording to their own persuasion. We resist the notion of 'believing' as a way to talk about our faith, preferring 'experience' instead.
                    Our faith, as we see it, is to be lived and experienced as a way of being in the world. Belief does not inspire us - experience does! We are therefore not a 'creedal' church, in the 
                    ancient sense. But our way of being in the world is ancient, as we seek to emulate the earliest Christian Communities that followed 'The Jesus Way'.
                </p>
                <p>
                    <i>
                        We find in the life and teachings of Jesus Christ, our path to God
                        </br>
                        </br>
                        We recognize that others find their paths to God according to their ways and we respect that in as much as they embrace God as the essence of love
                        </br>
                        </br>
                        We welcome all people, believers and agnostics, regardless of reace, creed, gender, cultural background, or sexual oreintation
                        </br>
                        </br>
                        We believe that how we treat another person is the "fullest expression" of our faith in the spirit of what Jesus said when he called us to love God and love our
                        neighbor even as we love ourselves
                        </br>
                        </br>
                        We honor the search for meaning more than we do the expression of dogma, especially those who claim to know the objective truth about God
                        </br>
                        </br>
                        We see the church as an internation community working toward what the prophets called "peace and justice", honoring Christ's prayer to "let God's realm become a reality on Earth"
                        </br>
                        </br>
                        We acknowledge the sacraments of baptism, as a ritual reminding us of God's inclusive love for all people and communion as a "representation of thje ancient vision of God's feast for all people"
                        </br>
                        </br>
                        We call ourselves pregressive, meaning that we take the bibile seriously, but not literally; that following Christ entails a personal commitment to sacrificial love and a resistance to injustice to others; and a proactive stand to protect and conserve the natural world
                    </i>
                </p>
            </div>
        </div>
    </section>